{
  "plugins": [
    "styled-jsx/babel",
    "transform-react-jsx"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions", "safari >= 7"]
      }
    }]
  ]

}
